IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/.dart_tool/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/.flutter-plugins
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/.flutter-plugins-dependencies
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/.idea/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/.metadata
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/analysis_options.yaml
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/android/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/build/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/ios/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/linux/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/macos/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/pubspec.lock
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/pubspec.yaml
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/test/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/calculadora_imc_basic.iml
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/web/
IMC/Aprimorando_a_sua_Calculadora_de_IMC_com_Flutter/windows/

IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/.dart_tool/
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/.flutter-plugins
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/.flutter-plugins-dependencies
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/.idea/
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/.metadata
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/analysis_options.yaml
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/android/
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/build/
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/ios/
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/pubspec.lock
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/pubspec.yaml
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/test/
IMC/Armazenando_os_Dados_de_IMC_e_Persistindo_Localmente/calculadora_imc_persistencia_de_dados.iml